name: Build Windows Client

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.x'

      - name: Set up VCPKG
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          .\vcpkg\bootstrap-vcpkg.bat
          $vcpkg_path = "$((Get-Item .).FullName)\vcpkg"
          echo "VCPKG_ROOT=$vcpkg_path" >> $env:GITHUB_ENV
          .\vcpkg\vcpkg install --triplet x64-windows-static-md

      - name: Build Windows App
        run: |
          flutter config --enable-windows-desktop
          flutter build windows --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Windows-Client-Exe
          path: build/windows/runner/Release/
